@import './variables.scss';
@import './templates.scss';
@import './mixins.scss';
@import './keyframes.scss';
@import './nullstyle.scss';

.wraper {
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
}
