@import "./variables.scss";
@import "./templates.scss";
@import "./mixins.scss";
@import "./keyframes.scss";
@import "./nullstyle.scss";

.wrapper {
    width: 100%;
    overflow-x: hidden;
}

.container {
    max-width: 992px;
    margin: 0px auto;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
