@import "./variables.scss";
@import "./keyframes.scss";


// === SCROLL ANIMATION === //
%animate {
    opacity: 0;
    transform: translateY(-100%);

    &._active {
        opacity: 1;
        transform: translate(0, 0);
        transition: opacity 1s ease, transform 1s ease;
        transition-delay: 0.3s;
    }
}


// === BLICK === //
%blick {
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: url("../assets/svg/blick.svg") center no-repeat;
        transform: translateX(-10%);
        animation: blick 5s ease-in-out 0s infinite;
    }
}