/* === FONTS === */

/* === COLORS === */
$bodyBG: linear-gradient(to top, #09203f 0%, #537895 100%);
$keyboardBG: #2D2727    ;
$optionsKeys: #413543;
$buttonBG: #8F43EE  ;
$hoverButotnColor: #96b372;